

<h2>This is a help page of Story Maker</h2>

<pre>
    Create new Story: you can add a story block.

    Create new Collage: you can add a new collage.

    Execute Story: view all the collages in a selected time duration, you can zoom it

    Story: you can edit it and view the story details

    Collage: you can edit it and view the story blocks inside

    Archive Story: Administrator can archive and unarchive story blocks


    Contact Information

    Name : Yang Zhou
    Email: yzhou52@syr.edu

</pre>
